---
import CardContentLeft from "./subcomponents/card-content-left.astro";
import CardContentRight from "./subcomponents/card-content-right.astro";
---

<main>
    <CardContentLeft></CardContentLeft>
    <CardContentRight></CardContentRight>
</main>

<style>
   main{
    max-width: 730px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    margin-inline: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 30px;
   }

   @media screen and (max-width: 45em){
        main{
            flex-flow: column nowrap;
            height: 100%;
        }
   }

</style>